@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDk0MTI0Mi1iaW9jYXJlOjJJVkREWVJ5Uk5jMEtUWUpnMXBTVEUzcjdiSGs4Nkxa
always-auth=true